{{ define "main" }}

<h1 style="text-align: center;"><strong><img src="https://cloud.motastish.ga/core/preview?fileId=536&amp;x=2880&amp;y=1800&amp;a=true" alt="" /></strong></h1>
<h1 style="text-align: center;"><strong>MoTastish Pages</strong></h1>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Portal</strong></p>
<p style="text-align: center;"><a href="https://portal.motastish.ga"><img src="https://cdn-icons.flaticon.com/png/512/1084/premium/1084269.png?token=exp=1651170173~hmac=5ad46d88cd494d08f321ce4375edcf1e" alt="" width="128" height="128" /></a></p>

{{ end }}
