{{ define "main" }}

<h1 style="text-align: center;"><strong><img src="https://cloud.motastish.ga/core/preview?fileId=536&amp;x=2880&amp;y=1800&amp;a=true" alt="" /><img src="https://cdn.minitymc.net/YiXu3/nOXESesA78.png/raw" alt="" width="156" height="162" /></strong></h1>
<h1 style="text-align: center;"><strong>MoTastish Pages</strong></h1>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Diese Seite existiert nicht :(</p>
<p style="text-align: center;">&nbsp;</p>

{{ end }}
